* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}


h1 {
    text-align: center;
}


body {
    background:#c5d4ff;
}

main {
    width: 90vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 389px;
    background: white;
    padding: 10px;
    border-radius: 7px;
}

.container {
    display: flex;
    justify-content: center;
}

.single-input {
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.single-input label {
    font-size: 16px;
    left: 0;
    bottom: 5px;
    color: rgb(14, 13, 13);

}

.button {
    display: flex;
    justify-content: center;
    margin: 15px;

}

.btn {
    color: white;
    background-color: rgb(4, 4, 124);
    padding: 10px;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}