.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  header h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .activities-section h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .activity-card {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .activity-card:hover {
    background-color: #f9f9f9;
  }
  
  .activity-card h3 {
    margin: 0 0 10px;
    color: #555;
  }
  
  .activity-card p {
    margin: 0;
    color: #777;
  }
  .btn-voltar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ec8804;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  